@{
    string Prefix = "RadicacionCuentas";
    string UrlClick = Url.Action("Edit", "RadicacionCuentas");
    string UrlNew = Url.Action("New", "RadicacionCuentas");

    var DataGridConfig = new DataGridConfiguration<RadicacionCuentas>(Prefix)
        .OnClick(UrlClick, new { Id = "Id" })
        .New(UrlNew, DApp.ActionViewSecurity(Context, UrlNew))
        .Exports(true, true).SetStorage()
        .ToolbarTop(DApp.DefaultLanguage.GetResource("RadicacionCuentas"), "mainPanel");
}



<div class="box-body table-responsive no-padding">
    @(Html.DControls().DataGridSimple<RadicacionCuentas>(DataGridConfig)
    .ID("RadicacionCuentasDataGrid")
    .DataSource(d => d.Mvc().LoadMethod("POST").Controller("RadicacionCuentas").LoadAction("Get").Key("Id"))
    .Columns(columns =>
    {
        columns.AddFor(m => m.Id).SortOrder(SortOrder.Desc);
        columns.AddFor(m => m.CreationDate);
        columns.AddFor(m => m.Sedes.Nombre).Caption(DApp.GetResource("FacturasGeneracion.SedesId"));
        columns.AddFor(m => m.Entidades.Nombre).Caption(DApp.GetResource("FacturasGeneracion.EntidadesId"));

        columns.AddFor(m => m.FechaRadicacion);
    })
)
</div>
