@inject Blazor.WebApp.AppState appstate

<script>
    BorrarStorageGrids();
</script>

<div class="bienvenido">
    <h1>Bienvenido a SIISO</h1>
    <p>Sistema Integrado de Servicios y Operaciones</p>
</div>

<div class="footer">
    <label>Version App: <b>@(ViewBag.VersionApp).@(ViewBag.ParcheApp)</b></label>
</div>