@using Blazor.BusinessLogic.Models
@using Blazor.WebApp.Models
@using DevExtreme.AspNet.Mvc
@using Dominus.Backend.Application
@using Dominus.Frontend.Mvc
@model LogFilesModel
@{ 
    string Prefix = "LogFiles";

    var DataGridConfig = new DataGridConfiguration<ArchivoDescargaModel>(Prefix)
        .Exports(false,false)
        .ToolbarTop(DApp.DefaultLanguage.GetResource("LogFiles"), "mainPanel");
} 

<div class="box-body table-responsive no-padding"> 
@(Html.DControls().DataGridSimple<ArchivoDescargaModel>(DataGridConfig)
    .ID("LogFilesDataGrid")
    .DataSource(Model.LogsFiles)
    .Columns(columns =>
    {
        columns.AddFor(m => m.Nombre);
        columns.AddFor(m => m.Extension);
        columns.Add().Width("50").Caption("").Alignment(HorizontalAlignment.Center).CellTemplate(
            @<text>
            <a href="/Home/DonwloadLogFile?fileName=<%- data.Nombre %>" target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
            </text>);
    })
) 
</div> 
